:root {
  --main-background: #ccc;
  --header-background: #000;
  --hero-background: #3f51b5;
  --primary-light: #fff;
  --primary-dark: #000;
  --link-background: #242424;

  --active-nav: #3f51b5;

  --card-background: #fff;
  --card-primary: #3f51b5;

  --error-primary: red;
}
