@import './colors.css';
@import 'antd/dist/antd.css';

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;

  font-size: 16px;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  line-height: 1.5;
  color: var(--primary-light);

  background-color: var(--main-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select {
  color: var(--primary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--primary-light);
}

a {
  color: var(--primary-light);
  text-decoration: none;
  cursor: pointer;
}
